.imagen{
    width: 200px;
}
body{
    background-color:cornflowerblue;
}
.venus{
    width: 200px;
}
.mercu{
    width: 300px;
}
.tierra{
    width: 200px;
}
.marte{
    width: 300px;
}
.jupi{
    width: 190px;
}
.saturn{
    width: 200px;
}
.ura{
    width: 200px;
}
.neptu{
    width: 200px;
}
.nep{
    font-size: 15px;
}
th, td {
    border: 2px solid black;
    padding: 2px;
}
.espacio{
    width: 100%;
    overflow: auto;
}
.espi{
    width: 200px;
}
.elip{
    width: 200px;
}
.irre{
    width: 200px;
}
.quas{
    width: 200px;
}
.sol{
    width: 200px;
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.boton:hover {
    background-color:black;
}
.colored-table {
    background-color:cadetblue;
}

.colored-table td {
    background-color:cadetblue;
}
.sa{
    color:blue;
}
.pl{
    color:black;
}
body {
    text-align: center;
    height: 100vh;
    margin: 0;
}
img {
    display: inline-block;
}

 